html, body {
	width: 100%;
    margin: 0vw;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fcf9f2;
	font-family: "Arial", sans-serif;
	font-weight: 700;
}

div.header {
	display: inline-block;
	padding: 0.3vw 0vw 1vw 0vw;
	width: 100vmax;
	height: 6vmax;
	text-align: center;
	background: #262626;
	color: #ed9b58;
	font-size: 3.5vmax;
	font-family: "Times New Roman";
}

p.slogan {
	display: inline-block;
	font-size: 1.5vw;
	color: #dfa37a;
}


div.map {
	width: 70vmax;
	position:fixed;}


div.contact {
	float: right;
	text-align: right;
	padding: 0vw 0.5vw;
	position: absolute;
	color: #ed9b58;
	width: 25%;
	bottom: 0;
	right: 0;
}

div.buttons {
	float: right;
	width: 25vmax;
	padding: 1vw 0vw;
}


button.button {
	width: 80%;
	border: none;
	padding: 0.5vw 1vw;
	/* border-radius: 2.5vw; */
	font-size: 2vw;
	font-weight: bold;
	color:#ed9b58;
	background-color:#fcf9f2;
	transition: all 0.2s;
}

button.next_.button {
	width: 20%;
	height: 7%;
	float: right;
	border: none;
	padding: 0.5vw 1vw;
	border-radius: 1vw;
	font-size: 1.5vw;
	font-weight: bold;
	margin: 1vw;
	color:#ed9b58;
	background-color:#fcf9f2;
	transition: all 0.2s;
}

button.back_.button {
	width: 20%;
	height: 7%;
	float: left;
	border: none;
	padding: 0.5vw 1vw;
	border-radius: 1vw;
	font-size: 1.5vw;
	margin: 1vw;
	font-weight: bold;
	color:#ed9b58;
	background-color:#fcf9f2;
	transition: all 0.2s;
}

button:hover {
	background-color: #f5edd6;
}

button:.next_.button:hover {
	background-color: #f5edd6;
}

button.back_.button:hover {
	background-color: #f5edd6;
}

button.button:not(:last-child) {
  border-bottom: 3px solid #dfa37a;
}

div.background {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

div.popup_header {
  padding: 2vw 2vw;
  font-weight: bold;
  font-size: 2.5vmax;
  height: 7vmax;
  background-color: black;
  border-top-right-radius: 3vw;
  border-top-left-radius: 3vw;
  color: #ed9b58;
  text-align: center;
}

div.popup_form {
	position:relative;
	left:20%;
	top: 5%;
	background-color: #f5edd6;
	color: #e89857;
	margin: 5vw 15vw auto;
	border-radius: 3vw;
	display: inline-block;
	width: 40vw;
}

div.filter_content {
	position:relative;
	color: #e89857;
	margin: 2vw auto;
	width: 25vmax;
}

img {
	object-fit: contain;
}

img.tiger {
	display: inline-block;
	max-width:100%;
	max-height:90%;
}

h1.popup_title {
	font-size: 2vw;
	margin: 0vw auto 0.2vw;
}

p.popup_label {
	font-size: 1vw;
	padding: 0.375vw;
	display: block;
	width: 70%;
	text-align: left;
	margin: 0vw auto 0.2vw;
}

input.popup_input {
	padding: 0.375vw;
	margin: 0vw 0vw 1vw;
	display: block;
    margin : 0 auto;
	width: 70%;
	height: 1.5vw;
	font-size: 0.75vw;
	background-color: #FFFFFF;
	border-style: none;
}

div.popup_submit {
	margin: 0vw 6vw 0vw;
}

input.popup_submit {
	background-color: #43423F;
	color: #FEFEFE;
	padding: 0.5vw 1vw 0.75vw;
	width: 100%;
	height: 2vw;
	font-size: 0.75vw;
	border-style: none;
	border-radius: 0.5vw;
}

input.popup_submit:hover {
	background-color: #222222;
}

div.listing_info_top {
	padding: 3vw;
	text-align: center;
	display: block;
}

div.listing_info_bottom {
	display: block;
}

div.listing_info_left {
	padding: 3vw;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

div.listing_info_right {
	padding: 3vw;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

#listing_info_content {
	background-color: #FFFFFF;
	color: #000000;
	margin: 10vw 25vw auto;
	padding: 2vw;
	border-style: solid;
	border-radius: 2vw;
	display: block;
	width: 50vw;
}
