div.background {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div.popup_form {
	background-color: #3A6C87;
	color: #F0FBFC;
	margin: 10vw 36vw auto;
	padding: 4vw 2vw 4vw;
	border-style: solid;
	border-radius: 1vw;
	border-width: 0.1vw;
	border-color: #FEFEFE;
}
h1.popup_title {
	font-size: 2.5vw;
	text-align: left;
	margin: 0vw;
}
p.popup_label {
	font-size: 0.75vw;
	text-align: left;
	margin: 0vw auto 0.25vw;
}
input.popup_input {
	padding: 0.5vw;
	margin: 0vw 0vw 1vw;
	width: 100%;
	height: 2vw;
	font-size: 1vw;
	background-color: #E1E9EC;
	border-style: none;
}
div.popup_submit {
	margin: 0vw 9vw 0vw;
}
input.popup_submit {
	background-color: #43423F;
	color: #FEFEFE;
	padding: 0.5vw 1vw 0.75vw;
	width: 100%;
	height: 2vw;
	font-size: 0.75vw;
	border-style: none;
	border-radius: 0.5vw;
}
input.popup_submit:hover {
	background-color: #222222;
}